
.frame{
    background-image: url("../../images/image2.jpg");
    background-color: rgba(255, 255, 255, 0.516); 
    background-blend-mode: lighten;
    padding: 40px;
    background-size: cover;
    height: 200px;
    width: auto;
    border: solid 1px #282828;
    margin-bottom: 100px;
}
.container{
    display: inline-block;
    padding: 30px;
    align-items: center;
    text-align: center;
    width: 100%;
  
}
.btn{
    display: inline;
    
    background-color: #FFFFFF;
    border: double #B41400;
    border-radius: 0%;
    color:#B41400;
    font-family:Century Gothic,serif;
    height: 40px;
    width: auto;
    margin-left: 5%;
 
  }
 .btn:hover{
    background-color: #B41400;
    border: double  #ffffff;
    color:#ffffff;

  }

  @media screen and (max-width: 450px) {
    .container{
        display: inline-block;
        align-items: center;
        padding: 10px;
        margin-left: 0px;
    }
    .btn{
        display: block;
    }
    .frame{
        height: auto;
    }
  }