.text-wapper-2{
    display: block;
    margin-left: 0px;
}
.text-wapper-2:hover{
    color: #282828;
}
.lista{
    margin-left: 3px;
}
.text-wrapper{
    color: #282828;
    text-decoration: underline .5px;   
}
.toggle{
    background-color: #FFFFFF;
    border: double #B41400;
    color: #B41400;
    font-family: Century Gothic, serif;
}
.toggle:hover{
    background-color: #B41400;
    border: double #ffffff;
    color: #ffffff;
}
