 .formulario{
background-color: #f1f1f1;
text-align: center;
font-family: Century Gothic, serif;
width: 70%;
margin-left: 15%;
margin-bottom: 10px;
padding: 10px;
  }
label{

  }

input{
display: block;
margin-left: 15%;
width: 70%;
  }

a.back {
color: var(--color-primary);
text-decoration: none;
font-weight: 500;
text-decoration: none;
text-decoration-thickness: 1.5px;
text-underline-offset: 2px;
margin-top: 2%;
margin-bottom: 3%;
  }
  
a.back:active,
a.back:hover {
outline-width: 0;
text-decoration: none;
color: #282828 !important;
  }
.btn{
text-align: center;
  margin-top: 10px;
  margin-bottom: 0px;
  align-items: center;
  margin-left: 0px;
}

@media screen and (max-width: 450px) {
  .btn{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  input{
    display: block;
    margin-left: 10%;
    width: 80%;
    padding: 8px;
    margin-top: 1px;
      }
}