.formulario {
  background-color: #f1f1f1;
  font-family: Century Gothic, serif;
  width: 75%;
  margin: 0 auto;
  margin-bottom: 5px;
  margin-top: 0px;
  padding: 10px;
  display: flex;
  flex-direction: column;

}

.labelregistro{
  text-align: justify;
  width: 80%;
  margin-left: 4%;

    }

.selectregistro{
    text-align: justify;
    display: block;
    margin-left: 4%;
     width: 90%;
     height: 30px;
  }

  .inputregistro {
  display: block;
 margin-left: 4%;
  width: 90%;
  height: 30px;
    }

a.back {
  color: var(--color-primary);
  text-decoration: none;
  font-weight: 500;
  text-decoration: none;
  text-decoration-thickness: 1.5px;
  text-underline-offset: 2px;
  margin-top: 2%;
  margin-bottom: 3%;
}

a.back:active,
a.back:hover {
  outline-width: 0;
  text-decoration: none;
  color: #282828 !important;
}

.btn {
  text-align: center;
  margin-top: 5px;
  align-self: center; /* Centra el botón dentro del contenedor flex */
}
.btn-crear{
  background-color: #FFFFFF;
  border: double #B41400;
  color: #B41400;
  font-family: Century Gothic, serif;
  height: 40px;
  width: auto;
}
.btn-crear:hover{
  background-color: #B41400;
  border: double #ffffff;
  color: #ffffff;
}

.password-container {
  position: relative;
  width: 100%; /* Asegura que el contenedor de la contraseña tenga el mismo ancho que los inputs */
  margin-bottom: 10px; /* Añadir margen inferior */
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 48%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.toggle-password img {
  width: 25px;
  height: 25px;
}

@media screen and (max-width: 450px) {
  .btn {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  input, select, label {
    width: 80%;
  }

  .password-container {
    width: 80%;
  }

  .toggle-password {
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
  }

  .toggle-password img {
    width: 20px;
    height: 20px;
  }
}
