:root {
  --border-radius: 4px;
  --color-text: #282828;
  --color-primary: #B41400;
  --color-code-bg: #B41400;
  --color-code: #B41400;
  --font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  --font-mono: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --font-lg: 18px;
  --font-md: 16px;
  --font-sm: 14px;
  --font-sx: 12px;
  --line-height-loose: 1.75;
  --line-height-normal: 1.5;
  --line-height-dense: 1.1;
  --space-1: 3px;
  --space-2: 8px;
  --space-3: 16px;
  --space-4: 24px;
  --space-5: 32px;
  --space-6: 64px;

} 

.logo-image {
  margin-left: 33px;
  background-color: #FFFFFF;
  height: calc(100% - 20px);
  border-left: solid 6px #282828; 
}

label {
  padding: 0.5em;
  margin-top: 3px;
}

html {
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  font: sans-serif;
  font-size: var(--font-md);
  line-height: var(--line-height-normal);
  overflow-y: scroll;
}

body {
  margin:0;
  align-items: center;
  color: var(--color-text);
  font-family: Century Gothic, serif;
  font-family: var(--font-sans);
  font-weight: normal;
  word-wrap: break-word;
  margin: 0; /* Eliminar márgenes predeterminados del body */
  padding: 0 1rem 0 1rem; /* Ajustar márgenes laterales */
  
}
.container{
 width: 100%;

}

/* button {
  background-color: #FFFFFF;
  border: double #B41400;
  color: #B41400;
  font-family: Century Gothic, serif;
  height: 40px;
  width: auto;
} */
/* 
button:hover {
  background-color: #B41400;
  border: double #ffffff;
  color: #ffffff;
} */

a {
  color: var(--color-primary);
  text-decoration: none;
  font-weight: 500;
  text-decoration: none;
  text-decoration-thickness: 1.5px;
  text-underline-offset: 2px;
}

a:active,
a:hover{
  outline-width: 0;
  text-decoration: none;
  color: #FFFFFF;
}

/* abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
} */

/* b,
strong {
  font-weight: inherit;
  font-weight: bolder;
} */

/* dfn {
  font-style: italic;
} */
h2{
  text-align: center;
  margin-top: 0%;
}
h1 {
  margin: 0px;
  padding: 2px;
  line-height: var(--line-height-dense);
  letter-spacing: -0.01em;
  background-color: #ffffff;
  color: #282828;
  border: solid 1px #282828;
  font-family: Century Gothic, serif;
  font-size: larger;
}

h1 > b {
  color: var(--color-primary);
}

footer {
  background-color: #282828;
  color: #FFFFFF;
  width: 100%; /* Asegurar que el footer ocupe el 100% del ancho */
  padding: 2px 0;
  text-align: center;
 
}



/* img {
  border-style: none;
  max-width: 100%;
} */

/* code,
kbd,
pre,
samp {
  font-family: var(--font-mono);
  font-size: 1em;
  line-height: inherit;
} */

/* hr {
  box-sizing: content-box;
  overflow: visible;
  margin: 0;
  padding: 0;
  margin-bottom: calc(var(--space-4) - 1px);
  background: #282828;
  border: none;
  height: 1px;
} */

/* ul,
ol {
  margin-left: var(--space-4);
  list-style-position: outside;
  list-style-image: none;
} */

/* b,
strong,
dt,
th {
  font-weight: bold;
} */

/* li {
  margin-bottom: calc(var(--space-4) / 2);
} */

/* ol li,
ul li {
  padding-left: 0;
} */

/* li > ol,
li > ul {
  margin-bottom: calc(var(--space-4) / 2);
  margin-left: var(--space-4);
  margin-top: calc(var(--space-4) / 2);
} */

blockquote *:last-child {
  margin-bottom: 0;
}

/* li *:last-child {
  margin-bottom: 0;
} */

/* p *:last-child {
  margin-bottom: 0;
} */

/* li > p {
  margin-bottom: calc(var(--space-4) / 2);
} */

/* p {
  max-width: 680px;
} */

/* code {
  font-size: 0.875rem;
} */

/* kbd {
  font-size: 0.875rem;
} */

/* samp {
  font-size: 0.875rem;
} */

/* abbr {
  border-bottom: 1px dotted #B41400;
  cursor: help;
} */

/* acronym {
  border-bottom: 1px dotted #B41400;
  cursor: help;
} */

/* tt,
code {
  background-color: var(--color-code-bg);
  border-radius: var(--border-radius);
  color: var(--color-code);
  font-family: var(--font-mono);
  padding-bottom: 0.25em;
  padding-top: 0.25em;
  word-break: normal;
} */

/* pre code {
  background: none;
} */

/* code:before,
code:after,
tt:before,
tt:after {
  content: "\00a0";
  letter-spacing: -0.2em;
} */

/* pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: none;
} */
::placeholder{
  font-size: 14px;
  font-style: italic;
}
.subtexto{
  font-size: 14px;
  font-style: italic;
}

/* MEDIA QUERY */
@media (min-width:320px) {
  body{
    color:#282828;
    background-color: #FFFFFF;
    margin-right: 0%;
  }
  label{
    padding: 1em;
    margin-top: 3px;
  }
  input{
    margin-bottom:.2em;
  }
  button{
    margin-bottom: 2em;
    margin-top: 2em;
    align-items: center;
    width: auto;

  }
  .logo-image {
    margin-left: 0px;
  }

  }
