/* FORMULARIO ACCESO */
.acceso {
  background-color: #f1f1f1;
  margin-top: 0px;
  margin-bottom: 10px;

}
  .datos{
  display: inline;
  margin-bottom: 0px;
  
 
  }
  .botones{
    margin-top: 0px;
    display: inline;
    text-align: center;
  
    }

.elemento-button  {
  position:inherit;
  margin-top: 0px;
  align-items: center;
    text-align: center;
    background-color: #FFFFFF;
    border: double #B41400;
    color: #B41400;
    font-family: Century Gothic, serif;
    height: 40px;
    width: auto;

  }
.elemento-button:hover{
  background-color: #B41400;
  border: double #ffffff;
  color: #ffffff;
  }
 .titulo {
    color: #282828;
    font-size: var(--font- --font-lg);
    line-height: var(--line-height-loose);
    letter-spacing: var(--space-1);
 
  }
  
.elemento-etiqueta {
    align-items: center;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #b14100;

  }

.campo {
  display: inline;
  align-items: justify;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #e0e0e0;
    box-shadow: var(--button-shadow);
    width: 200px;
    margin-left: 0;
  }
  
  .datos {
    width: fit-content;
    color: #282828;
    height: 100%;
    font-size: var( --font-md);
  }
  .p-recuperar{
    margin-top: 2%;
    margin-left: 0px;
}
  .btn-recuperar{
    margin-top:1px;
 
    background-color: #FFFFFF;
    border: double #B41400;
    color: #B41400;
    font-family: Century Gothic, serif;
    height: 40px;
    width: auto;
}
.btn-recuperar:hover{
  background-color: #B41400;
  border: double #ffffff;
  color: #ffffff;
}


/* FORMULARIO RECUPERAR CONTRASEÑA */
.custom-alert {
  display: inline-flex;
  background-color: #f1f1f1;
  border:solid 1px #b14100;
  padding: 15px;
  margin-bottom: 5px;
  width: auto;
}
.custom-form{
  position: relative;
  color: #282828;
  font-size: var( --font-md);
  font-weight: var(--font-m-font-weight);
}
.custom-form .close-button {
  display: flex;
  position: relative;
  margin-top: 2px;
  margin-left:2px;
  height: 30px;
  background-color: #FFFFFF;
    border: double #B41400;
    color: #B41400;
    font-family: Century Gothic, serif;
    height: 30px;
    width: auto;
  
}
.close-button{
  position: relative;
  margin-left: 93% !important;
  margin-top: 5px !important;
}
.close-button:hover{
  background-color: #B41400;
  border: double #ffffff;
  color: #ffffff;
}
.confirmar {
  display: inline-flex;
  align-items: center;
  margin-top: 3px;
  margin-left: 3%;
  background-color: #FFFFFF;
  border: double #B41400;
  color: #B41400;
  font-family: Century Gothic, serif;
  height: 30px;
  width: auto;

}
.confirmar:hover{
  background-color: #B41400;
  border: double #ffffff;
  color: #ffffff;
}

.form-label {
  display: block;
  margin-bottom: 0px;
  color: #282828;
  font-size: var(--font-md);
  font-weight: var(--font-m-font-weight);
}

.form-input {
  margin-top: 0px;
  margin-left: 0px;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  box-shadow: var(--button-shadow);
  width: 250px;
  padding: 5px;

}



/* Media Query para pantallas de 450px */
@media screen and (max-width: 450px) {
  .custom-box {
    height: auto; 
    margin-left: 0px;
  }
  
  .campo {
    margin-bottom:2px; 
    align-content: justify;
    width: 250px;
    margin-left: 0px;
  }
 
  .p-recuperar {
    margin-left: 1%;
    margin-top: 0px; 
    
  }
  
  .btn-recuperar {
    position: relative;
    margin-top: 0px;
    margin-left: 0%;  
    width: auto;
    height: auto;
    
  }
/* ventana recuperar */
  .custom-alert {
    display: inline-flex;
    background-color: #f1f1f1;
    border:solid 1px #b14100;
    padding: 10px;
    margin-bottom: 5px;
  }
  .custom-form{
   
    position: relative;
    color: #282828;
    font-size: var( --font-md);
    font-weight: var(--font-m-font-weight);
  }
  .close-button {
    margin-top: 2px;
    height: 20px;
  }
  
  .confirmar {
    display: inline-flex;
    align-items: center;
    margin-top: 2px;
  }
  
  .form-label {
    color: #282828;
    font-size: var(--font-md);
    font-weight: var(--font-m-font-weight);
  }
  
  .form-input {
    margin-top: 0%;
    margin-left: 3%;
    box-shadow: var(--button-shadow);
    width: auto;
    padding: 5px;
  
  }
  
}
