/* FORMULARIO ACCESO */
.acceso {
  background-color: #f1f1f1;
  margin-top: 0px;
  margin-bottom: 15px;

}
  .datos{
  display: inline;
  margin-bottom: 0px;
  margin-top: -10px;
 
  }
  .botones{
    margin-top: 0px;
    display: inline;
    text-align: center;
  
    }

.elemento-button  {
  position:inherit;
  margin-top: 0px;
  align-items: center;
  margin-left: 10%;
    text-align: center;
    background-color: #ffffff ;
    border: double #b14100;

  }
.elemento-button:hover{
    background-color: #B41400 ;
    border: double  #ffffff;
  }
 .titulo {
    color: #282828;
    font-size: var(--font- --font-lg);
    line-height: var(--line-height-loose);
    letter-spacing: var(--space-1);
 
  }
  
.elemento-etiqueta {
    align-items: center;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #b14100;

  }

.campo {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #e0e0e0;
    box-shadow: var(--button-shadow);
    margin-bottom: 200px;
  }
  
  .datos {
    width: fit-content;
    color: #282828;
    height: 100%;
    font-size: var( --font-md);
  }
  .p-recuperar{
    margin-top: 2%;
    margin-left: -150px;
}
  .btn-recuperar{
    margin-top:1px;
    margin-left: 10%;
    background-color: #ffffff;
    border: double;
    border-color: #b14100;

}


/* FORMULARIO RECUPERAR CONTRASEÑA */
.custom-alert {
  display: inline-flex;
  background-color: #f1f1f1;
  border:solid 1px #b14100;
  padding: 0px;
  margin-bottom: 5px;
  width: 100%;
}
.custom-form{
  position: relative;
  color: #282828;
  font-size: var( --font-md);
  font-weight: var(--font-m-font-weight);
}
.custom-form .close-button {

  text-align: center;
  margin-top: 2px ;
  margin-left: 2%;
  height: 30px ;
  
}

.confirmar {
  display: inline-flex;
  align-items: center;
  margin-top: 3px;
  margin-left: 30%;

}

.form-label {
  display: block;
  margin-bottom: 0px;
  margin-left:50px;
  color: #282828;
  font-size: var(--font-md);
  font-weight: var(--font-m-font-weight);
}

.form-input {
  margin-top: 0px;
  margin-left: 65px;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  box-shadow: var(--button-shadow);
  width: 300px;

}




/* Media Query para pantallas de 450px */
@media screen and (max-width: 450px) {
  .custom-box {
    margin-top: 0px;
    height: auto; 
  }
  
  .campo {
    margin-bottom:2px; 
    align-content: center;
    width: 300px;

  }
  
  .elemento-button {
    margin-left: 50%; 
    transform: translateX(-50%); 
    margin-top: 0px;
  }
  
  .p-recuperar {
    margin-left: 7%;
    margin-top: 0px; 
    
  }
  
  .btn-recuperar {
    position: relative;
    margin-top: 0px;
    margin-left: 50%; 
    transform: translateX(-50%); 
    width: auto;
    height: auto;
  }
/* ventana recuperar */
  .custom-alert {
    display: inline-flex;
    background-color: #f1f1f1;
    border:solid 1px #b14100;
    padding: 0px;
    margin-bottom: 5px;
  }
  .custom-form{
    position: relative;
    color: #282828;
    font-size: var( --font-md);
    font-weight: var(--font-m-font-weight);
  }
  .close-button {
    display: flex;
    position: relative;
    margin-bottom: 0px;
    height: 20px;
  }
  
  .confirmar {
    display: inline-flex;
    align-items: center;
    margin-top: 0px;
    margin-left: 4%;
  }
  
  .form-label {
    color: #282828;
    font-size: var(--font-md);
    font-weight: var(--font-m-font-weight);
  }
  
  .form-input {
    margin-top: 0%;
    margin-left: 3%;
    box-shadow: var(--button-shadow);
    width: auto;
  
  }
  
}
