#top {
    display: block;
    position: fixed; /* Cambiado a fixed para mantener la posición constante */
    bottom: 40px; /* Distancia desde la parte inferior de la ventana */
    right: 20px; /* Distancia desde el lado derecho de la ventana */
    background-color: #f2f2f2;
    border-radius: 50% ;
    border: #b4b4b4;
    width:50px; /* Ancho del botón */
    height: 50px; /* Altura del botón */
    align-items: center;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0px 2px 10px #282828; /* Sombra para mejor visibilidad */
    color: #282828;
    font-size: 30px;
}

#top:hover {
    background-color: #e1e1e1; /* Cambio de color al pasar el ratón */
}
