@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.container{
display: inline-block ;
align-items: center ;
text-align: center ;
margin-left: 6% ;

}
.container-carrousel{

display: block;
padding-right: 1.5em;
padding-left: 1.5em;
background-color: #282828;
width: 100%;
margin-top: -35px;
margin-bottom: -40px;

}
.carrousel{
    align-items: center;
    width: max-content;
    height: 350px;
    width: 100%;
}
