@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.container{
display: inline-block ;
align-items: center ;
text-align: center ;
    margin-left: 9% ;
}
.container-carrousel{

display: block;
padding: 2em;
border: solid 2px #B41400;
background-color: #b1b1b181;
width: 100%;
}
.carrousel{

    align-items: center;
    width: max-content;
    height: 350px;
    width: 100%;
}
