@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.container-carrousel{
 position: flex;
 height: auto;
 width: 100%;
 padding: 4em;
 border: solid .3em black;
 background-color: #28282828;
}