@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.container{
display: inline-block ;
align-items: center ;
text-align: center ;
    margin-left: 6% ;
}
.container-carrousel{

display: block;
padding: 1.6em;
background-color: #282828e8;
width: 100%;
}
.carrousel{

    align-items: center;
    width: max-content;
    height: 350px;
    width: 100%;
}
